.product_container {
  display: flex;
}

.btn_scroll {
  position: fixed;
  bottom: 50px;
  right: -20px;
  transform: rotate(-90deg);
  background-color: #42c6ae;
  background-image: -webkit-linear-gradient(top, #c5c9cd, #d3d6da);
  background-image: -moz-linear-gradient(top, #c5c9cd, #d3d6da);
  background-image: -ms-linear-gradient(top, #c5c9cd, #d3d6da);
  background-image: -o-linear-gradient(top, #c5c9cd, #d3d6da);
  background-image: -webkit-gradient(to bottom, #c5c9cd, #d3d6da);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 6px 0 #000000;
  -moz-box-shadow: 1px 1px 6px 0 #000000;
  box-shadow: 1px 1px 6px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #ffffff 1px;
}

/* filter styling */

#product_grid {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.product_col {
  margin: 0;
  padding: 0;
}

.product_filter {
  height: 100%;
  width: 100%;
  padding: 75px 20px 20px 20px;
  background-color: rgb(222, 222, 222, 0.75);
}

/* page title styling */

.product_title {
  height: 90px;
  width: 100%;
  background: white;
  z-index: 1;
  text-align: center;
  padding: 75px 0px 0px 0px;
}

.product_title > h1 {
  width: 100%;
  background-color: white;
  padding-bottom: 20px;
}

/* individual pedal styling */
.product_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.product_items {
  position: relative;
  width: 125px;
  height: 225px;
  margin: 10px;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 10px 14px -7px #000000;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border-radius: 8px;
}

/* pedal button styling */

.pedal_button {
  position: absolute;
  bottom: 25px;
  left: 52.5px;
  background: #c5c9cd;
  background-image: -webkit-linear-gradient(top, #c5c9cd, #d3d6da);
  background-image: -moz-linear-gradient(top, #c5c9cd, #d3d6da);
  background-image: -ms-linear-gradient(top, #c5c9cd, #d3d6da);
  background-image: -o-linear-gradient(top, #c5c9cd, #d3d6da);
  background-image: -webkit-gradient(to bottom, #c5c9cd, #d3d6da);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  height: 4px;
  line-height: 4px;
  color: #ffffff;
  width: 4px;
  font-size: 0;
  font-weight: 100;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 6px 0 #000000;
  -moz-box-shadow: 1px 1px 6px 0 #000000;
  box-shadow: 1px 1px 6px 0 #000000;
  text-shadow: 1px 1px 20px #000000;
  border: solid #ffffff 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.product_items:hover .pedal_button {
  border: solid #c3cad6 1px;
  background: #c3cad6;
  background-image: -webkit-linear-gradient(top, #c3cad6, #9ba8b7);
  background-image: -moz-linear-gradient(top, #c3cad6, #9ba8b7);
  background-image: -ms-linear-gradient(top, #c3cad6, #9ba8b7);
  background-image: -o-linear-gradient(top, #c3cad6, #9ba8b7);
  background-image: -webkit-gradient(to bottom, #c3cad6, #9ba8b7);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  text-decoration: none;
}

/* pedal font colours */

.price_color {
  color: #42c6ae;
  font-weight: bolder;
}

.name_color {
  color: white;
  font-weight: bolder;
}

.brand_color {
  color: white;
}

/* pedal light */

.pedal_light {
  position: absolute;
  bottom: 60px;
  left: 57.5px;
  background: #ffffff46;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  height: 4px;
  line-height: 4px;
  color: #ffffff;
  width: 4px;
  padding: 5px;
  box-shadow: 1px 1px 6px 0 #000000;
  border: solid #ffffff 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.product_items:hover .pedal_light {
  border: solid #c3cad6 1px;
  background: #e41a1a;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  text-decoration: none;
}

/* search button */

.btn {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  border: solid black 1px;
  box-shadow: 1px 1px 6px 0 #000000;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  margin-top: 15px;
  text-decoration: none;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
  border: solid black 1px;
}

.btn:active {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid black 1px;
  top: 1px;
}

/* loading styling */

img {
  max-width: 90%;
}

.loading_text {
  margin-top: 10px;
  color: white;
  font-weight: bolder;
}

/* media queries styling */

@media (width <= 767px) {
  .product_filter {
    height: 100%;
    width: auto;
    padding: 50px 20px 20px 20px;
    background-color: rgb(222, 222, 222, 0.75);
  }

  .filtering_toggle {
    display: none;
  }

  .category_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  .product_check {
    margin-left: 10px;
  }
}
