/* pedal info container */

.info_container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    padding: 25px 0 0 25px;
}

/* individual pedal styling */
.product_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-left: 260px;
    margin-top: 165px;
}

.product_items {
    position: relative;
    width: 125px;
    height: 225px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 10px 14px -7px #000000;
    background-color: rgba(0, 0, 0, 0.80);
    color: #FFFFFF;
    border-radius: 8px;
}

.product_summary {
    padding: 10px;
}

/* pedal button styling */

.pedal_button {
    position: absolute;
    bottom: 25px;
    left: 52.5px;
    background: #C5C9CD;
    background-image: -webkit-linear-gradient(top, #C5C9CD, #D3D6DA);
    background-image: -moz-linear-gradient(top, #C5C9CD, #D3D6DA);
    background-image: -ms-linear-gradient(top, #C5C9CD, #D3D6DA);
    background-image: -o-linear-gradient(top, #C5C9CD, #D3D6DA);
    background-image: -webkit-gradient(to bottom, #C5C9CD, #D3D6DA);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 4px;
    line-height: 4px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    width: 4px;
    font-size: 0;
    font-weight: 100;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 6px 0 #000000;
    -moz-box-shadow: 1px 1px 6px 0 #000000;
    box-shadow: 1px 1px 6px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.product_items:hover .pedal_button {
    border: solid #C3CAD6 1px;
    background: #C3CAD6;
    background-image: -webkit-linear-gradient(top, #C3CAD6, #9BA8B7);
    background-image: -moz-linear-gradient(top, #C3CAD6, #9BA8B7);
    background-image: -ms-linear-gradient(top, #C3CAD6, #9BA8B7);
    background-image: -o-linear-gradient(top, #C3CAD6, #9BA8B7);
    background-image: -webkit-gradient(to bottom, #C3CAD6, #9BA8B7);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-decoration: none;
}

/* pedal font colours */

.price_color {
    color: #42c6ae;
    font-weight: bolder;

}

.name_color {
    color: white;
    font-weight: bolder;
}

.brand_color {
    color: white;
}

/* pedal light */

.pedal_light {
    position: absolute;
    bottom: 60px;
    left: 57.5px;
    background: #e41a1a;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 4px;
    line-height: 4px;
    color: #FFFFFF;
    width: 4px;
    padding: 5px;
    box-shadow: 1px 1px 6px 0 #000000;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

/* button */

.btn {
    background-color: rgba(0, 0, 0, 0.80);
    border-radius: 6px;
    border: solid black 1px;
    box-shadow: 1px 1px 6px 0 #000000;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: smaller;
    padding: 6px 24px;
    margin: 25px 0 0 35px;
    text-decoration: none;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.70);
    border: solid black 1px;
}

.btn:active {
    position: relative;
    background-color: rgba(0, 0, 0, 0.70);
    border: solid black 1px;
    top: 1px;
}

/* reviews styling */

.review_container {
    width: 100%;
    padding: 25px 0 0 35px;
}

/* star styling */