* {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  color: black;
}

body {
  background-color: white;
}

.Content {
  position: relative;
  top: 80px;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  padding: 2px;
}

a:hover {
  text-decoration: none;
}

a:hover i {
  color: #354b46;
}

i {
  color: black;
}

i:hover {
  cursor: pointer;
  color: #354b46;
}
